<!DOCTYPE html>

<html>
  <head>
    <style>
      html * {
        font-family: "Verdana", cursive, sans-serif;
      }

      thead {
        font-weight: bold;
      }
      h3,
      .datos {
        display: inline;
      }
      th,
      td {
        border-style: solid;
        border-width: 1px;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        text-align: center;
        vertical-align: middle;
        background: white;
      }

      .tabla thead {
        position: sticky;
        top: 0;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        const url = new URL(window.location.href);

        document.getElementById("total").innerHTML = document.getElementsByName("duracion").length;
        let duracion = document.getElementsByName("duracion");
        let df = 0;
        for (let i = 0; i < duracion.length; i++) {
            df += Number(duracion[i].innerHTML);
        }
        document.getElementById("duracion").innerHTML = parseFloat(df).toFixed(2) + " horas";
      });
    </script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Proyecto ICONOS</title>
  </head>

  <body>
    <% if (resultado.length > 0) { %>
      <div class="tabla">
        <table>
          <% if (!durTotal) { %>
          <thead>
            <tr>
              <th colspan="6">
                <i><b>Resultados de la búsqueda</b>:
                  <div class="datos" id="total">⌛</div></i>
                |
                <i><b>Duración total</b>:
                  <div class="datos" id="duracion">⌛</div></i>
              </th>
            </tr>
            <tr>
              <th rowspan="2">Desarrollador</th>
              <th rowspan="2">Cliente</th>
              <th rowspan="2">Proyecto</th>
              <th rowspan="2">Etiquetas</th>
              <th rowspan="2">Fecha de inicio</th>
              <th rowspan="2">Duración</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < resultado.length; i++) { %>
            <tr>
              <td name="desarrollador"><%- resultado[i].desarrollador %></td>
              <td name="cliente"><%- resultado[i].cliente %></td>
              <td name="proyecto"><%- resultado[i].proyecto %></td>
              <td name="tags"><%- resultado[i].tags %></td>
              <td name="fechaInicio"><%- resultado[i].fechaInicio %></td>
              <td name="duracion"><%- resultado[i].duracion %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <%} else { %>
        <table>
          <thead>
            <tr>
              <th colspan="6">
                <i><b>Resultados de la búsqueda</b>:
                  <div class="datos" id="total">⌛</div></i>
                |
                <i><b>Duración total</b>:
                  <div class="datos" id="duracion">⌛</div></i>
              </th>
            </tr>
            <tr>
              <th rowspan="2">Desarrollador</th>
              <th rowspan="2">Cliente</th>
              <th rowspan="2">Proyecto</th>
              <th rowspan="2">Duración</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < resultado.length; i++) { %>
            <tr>
              <td name="desarrollador"><%- resultado[i].desarrollador %></td>
              <td name="cliente"><%- resultado[i].cliente %></td>
              <td name="proyecto"><%- resultado[i].proyecto %></td>
              <td name="duracion"><%- resultado[i].duracion %></td>
            </tr>
            <% }; %>
          </tbody>
        </table>
        <% } %>
      </div>
    <%} else { %>
    <p>No se han encontrado resultados para su búsqueda.</p>
    <% } %>
    </p>
  </body>
</html>
