<!DOCTYPE html>

<html>
<style>
    html * {
        font-family: "Verdana", cursive, sans-serif;
    }

    thead {
        font-weight: bold;
    }

    td {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
        text-align: center;
        vertical-align: middle
    }
</style>
</style>

<head>
    <title>Proyecto ICONOS</title>
</head>

<body>
    <h3>Proyecto ICONOS</h3>
    <p><i>¡Bienvenido, <%= usuario %>!</i></p>
    <p><i>Resultados de la búsqueda: <%= resultado.length %></i></p>
    <a href="/logout">
        <button>Cerrar sesión</button>
    </a>
    <table>
        <thead>
            <tr>
                <td rowspan="2">ID</td>
                <td rowspan="2">Proyecto</td>
                <td rowspan="2">Cliente</td>
                <td rowspan="2">Usuario</td>
                <td rowspan="2">Etiquetas</td>
                <td colspan="2">Fecha y hora</td>
                <td rowspan="2">Duración</td>
            </tr>
            <tr>
                <td>Inicio</td>
                <td>Fin</td>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < resultado.length; i++) { %>
                <tr>
                    <td><%= resultado[i].idReporte %></td>
                    <td><%= resultado[i].proyecto %></td>
                    <td><%= resultado[i].cliente %></td>
                    <td><%= resultado[i].usuario %></td>
                    <td><%- resultado[i].tags %></td>
                    <td><%= resultado[i].fechaInicio %><br><%= resultado[i].tiempoInicio %></td>
                    <td><%= resultado[i].fechaFin %><br><%= resultado[i].tiempoFinal %></td>
                    <td><%= resultado[i].duracion %></td>
                </tr>
            <% }; %>
        </tbody>
    </table>
</body>

</html>